
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Api Booking Otel İçin Şehir Id Alma Sayfası</h3>

<form method="post">

<label>Şehir Adını Giriniz</label>
<input type="text" class="form-control"  name="p"/>
<br />
<button class="btn btn-primary">Şehir Id Getir</button>

</form>