
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>

<br>

<a href="/Excel/StaticEcxelReport" class="btn btn-primary">Static Excel Raporları İndir</a>
<br>
<a href="/Excel/DestinationExcelReport" class="btn btn-primary mt-2">Tur Rotaları Raporları İndir</a>
